.cart-page{
	overflow: hidden;
	padding: 15px 0;
	&-button{
		@include display-flex;
		@include justify-content(flex-end);
	}
	&-net{
		width: 280px;
		margin: 0 0 0 auto;
	}
	&-total{
		overflow: hidden;
		padding-bottom: 10px;
		&:last-child{
			strong{
				color:#4cb9ec;
				font-family: $fontFamSemBold;
			}
		}
		&:first-child{
			span{
				font-family: "Times New Roman", Times, serif;
			}
		}
		span{
			float: left;
			color: #5e537d;
			font-size: 17px;
			padding: 17px 0;
			line-height: 23px;
			text-transform: uppercase;
		}
		strong{
			color: #5e537d;
			float: right;
			font-family: "Times New Roman", Times, serif;
			font-weight: 100;
			font-size: 42px;
			line-height: 48px;
		}
	}
}
.button{
	float: left;
	margin:0 5px;
	span{
		color: #fff !important;
	}
	button{
		background-color: inherit !important; 
		color: #fff !important;
	}
}
.cartOverlay{
	font-family: $fontFamBold;
	padding: 60px 100px;
	&-content{
		padding-bottom: 20px;
		h2{
			font-size: 17px;
			line-height: 23px;
		}
		span{
			color:#4cb9ec;
			font-family: $fontStack;
			font-size: 31px;
			line-height: 37px;

		}
		&-amount{
			background: #ffffff;
			padding: 10px;
		}
	}
	
}
.modal-ku {
  width: 450px;
  margin: auto;
}
.closeicon{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	i{
		color: white;
		font-weight: bold;
		border-radius: 50%;
		background: #cbcbd1;
		height: 25px;
		width: 25px;
		line-height: 25px;
		text-align: center;
	}
}