@import '../../../../node_modules/compass-mixins/lib/compass/css3';
@import '../base/variable.scss';
.table {
	&-list {
		width: 100%;
		th, td {
			padding: 15px 10px;
			border-bottom: 1px solid $borderColor;
			text-align: left;
		}
		th {
			color: $darkBlue;
			text-transform: uppercase;
		}
	}
}