@import '../../../../../node_modules/compass-mixins/lib/compass/css3';
@import '../../base/variable.scss';
.textField {
	label {
		display: block;
		padding-bottom: 0px;
	}
	input {
		background-color: white;
		border:1px solid transparent;
		@include border-radius(6px);
		padding:15px;
		width: 100%;
		&.is-invalid {
			border-color:red;
		}
	}
}
.invalid-feedback {
	color:red;
	padding-top: 10px;
}